%body#show
.container
  .container-fluid
  .jumbotron#home
    %h1= @program.facility_name
    =button_to "Add to Favorites", add_program_favorite_path(favorite, program_id: @program.id), class: "btn btn-lg", id: "btn-custom"
    =link_to "Is this your program?", claim_your_programs_path, class: "btn btn-lg pull-right", id: "btn-custom"
  .row
    .col-md-4
      .thumbnail
        %h1.text-center Contact
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#email", role: "tab"}
              %h4 Email
          %li
            %a{"data-toggle" => "tab", :href => "#phone", role: "tab"}
              %h4 Phone & Fax
          %li
            %a{"data-toggle" => "tab", :href => "#messages", role: "tab"}
              %h4 Address
        .caption
          .tab-content
            #email.tab-pane.active

              -if current_user
                =form_for(@notification, html: { class: 'form-horizontal' }) do |f|
                  %h4=f.label :subject
                  =f.text_field :subject, class: 'form-control', placeholder: "Hello"
                  %h4=f.label "Message"
                  =f.text_area :body, class: 'form-control', placeholder: "Your Message"
                  =f.hidden_field :to, value: @program.email
                  =f.hidden_field :from, value: current_user.email
                  %br
                  =f.submit "Send", class: "btn btn-block", id: "btn-custom"
              -else
                %h4.text-center Sign in to send an email
                %a{ :href => "/auth/google_oauth2", class: "btn btn-danger btn-block" } Sign in with Google
            #messages.tab-pane
              %h4 Address
              %h5= "#{@program.street_address1} #{@program.street_address2}"
              %h5= "#{@program.city} #{@program.state} #{@program.zipcode}"
            #phone.tab-pane
              %h4 Phone
              %h5= "#{@program.phone} #{@program.ext}"
              %h4 Fax
              %h5= @program.fax

    .col-md-8.col-md
      .thumbnail
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#description", role: "tab"}
              %h3 Description
          %li
            %a{"data-toggle" => "tab", :href => "#philosophy", role: "tab"}
              %h3 Teaching Philosophy
          %li
            %a{"data-toggle" => "tab", :href => "#settings", role: "tab"}
              %h3 Ratings & Reviews
          
        .caption
          .tab-content
            #description.tab-pane.active
              =@program.description
            #philosophy.tab-pane
              =@program.philosophy
            #settings.tab-pane
              .caption
                %h1 Leave a Review
                -if current_user
                  =form_for(@review, html: { class: 'form-horizontal' }) do |f|
                    =f.label      :title
                    =f.text_field :title, class: "form-control", placeholder: "My kids love it here." 
                    =f.label      "Message"
                    =f.text_area  :description, class: "form-control", placeholder: "The staff is always so friendly!"
                    =f.hidden_field :program_id, value: @program.id
                    =f.hidden_field :user_id, value: current_user.id
                    %br
                    =f.submit "Submit", class: "btn btn-block", id: "btn-custom"
                -else
                  %h4 You need to sign in to leave a review.
                  %a{ :href => "/auth/google_oauth2", class: "btn btn-danger btn-block" } Sign in with Google
              %h1 Reviews
              -unless @program.reviews.empty?
                -@program.reviews.each do |review|
                  .thumbnail
                    .row
                      .col-md-4
                        .caption
                          %img.profile-image.img-circle{:src => review.user.image}
                          %h4=review.user.name
                          %h5="Member Since: #{review.user.created_at.strftime("%b %d, %Y")}"
                      .col-md-8
                        %h4.text-muted=review.created_at.strftime("%b %d, %Y")
                        %h3=review.title
                        %p=review.description
              -else
                %h4.text-muted There are no reviews for this program.